<app-admin></app-admin>
<div class="main main-raised">
    <div class="section">
      <div class="row"><br><br><br></div>
<div class="container">
  </div>
  </div>
</div>
<div class="main main-raised">
    <div class="section">
<div class="container">
    <div class="row">
<div style="text-align:center">
<div class="row">
    <div class="col-md-6">
<div class="card card-pricing card-raised">
        <div class="content">
            <h6 class="category">Registered Users</h6>
            <div class="icon icon-rose">
                <i class="material-icons">supervised_user_circle</i>
            </div>
            <p class="card-description">
                View the details of all the registered users
            </p>
            <a routerLink="../reguser" class="btn btn-rose btn-round">Click Here</a>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card card-pricing card-raised">
            <div class="content">
                <h6 class="category">Orders</h6>
                <div class="icon icon-rose">
                    <i class="material-icons">assignment</i>
                </div>
                <p class="card-description">
                    View the order details of the user
                </p>
                <a routerLink="../booking" class="btn btn-rose btn-round">Click here</a>
            </div>
        </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="card card-pricing card-raised">
                    <div class="content">
                        <h6 class="category">Contact</h6>
                        <div class="icon icon-rose">
                            <i class="material-icons">assignment_ind</i>
                        </div>
                        <p class="card-description">
                            View contact request from users
                        </p>
                        <a routerLink="../contact" class="btn btn-rose btn-round">Click Here</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

