
    <div class="row">
      <div class="col-md-12">
        <div class="card card-signup">
          <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
            <div class="header header-primary text-center">
              <h4 class="card-title">Sign Up</h4>
              <div class="social-line">
                <a href="#pablo" class="btn btn-just-icon btn-simple">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-simple">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-simple">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>
            <p class="description text-center">Or Be Classical</p>
            <div class="content">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">face</i>
                </span>
                <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName"
                  placeholder="Full Name" required
                  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
                <div *ngIf="signUpForm.submitted && !fullName.valid">
                  <label class="validation-message">This field is required.</label>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">email</i>
                </span>
                <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email"
                  placeholder="Email" required
                  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
                <div *ngIf="signUpForm.submitted && email.errors">
                  <label *ngIf="email.errors['required']" class="validation-message">This field is required.</label>
                  <label *ngIf="email.errors['pattern']" class="validation-message">Invalid email address.</label>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">lock_outline</i>
                </span>
                <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password"
                  name="password" placeholder="Password" minlength="4" required
                  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
                <div *ngIf="signUpForm.submitted && password.errors">
                  <label *ngIf="password.errors['required']" class="validation-message">This field is required.</label>
                  <label *ngIf="password.errors['minlength']" class="validation-message">Enter atleast 4
                    characters.</label>
                </div>
              </div>
            </div>
            <div class="footer text-center">
              <input type="submit" value="Sign Up" class="btn btn-primary btn-simple btn-wd btn-lg">
            </div>
          </form>
        </div>
        <!-- Success message -->
        <div class="success" *ngIf="showSucessMessage">
          Saved successfully
        </div>

        <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
      </div>
    </div>

